.venv/
*.pyc
*.log
# some data folders are ignored
backend/data/scraping_out
backend/data/intermediates
backend/data/raw
frontend/shiny_app/data/
# ignore API keys
*.key
# ignore Rhistory file
shiny_app/.Rhistory
#ignore vscode files
.vscode/
.vscode/settings.json
*/__pycache__/