.venv/
*.pyc
*.log
# some data folders are ignored
data/scraping_out
data/intermediates
data/raw
shiny_app/data/
# ignore API keys
*.key
# ignore Rhistory file
shiny_app/.Rhistory
#ignore vscode files
.vscode/
.vscode/settings.json
*/__pycache__/