.venv/
*.pyc
*.log
# some data are stored in the data folder, except for the scraping_out
data/scraping_out
data/intermediates
data/raw
# ignore API keys
*.key
# ignore Rhistory file
shiny_app/.Rhistory
#ignore vscode files
.vscode/
.vscode/settings.json
*/__pycache__/